/Test.OcelotDemo/.vs
/Test.OcelotDemo/Test.ApiOrder/bin
/Test.OcelotDemo/Test.ApiOrder/obj
/Test.OcelotDemo/Test.ApiUser/bin
/Test.OcelotDemo/Test.ApiUser/obj
/Test.OcelotDemo/Test.OcelotDemo/bin
/Test.OcelotDemo/Test.OcelotDemo/obj
